body {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
}

.calculator, #tree-output {
  text-align: center;
  min-height: 350px;
  margin-top: 10px;
  max-height: 400px;
}

.calculator {
  display: table;
  width: 300px;
}

#tree-output {
  width: 400px;
  outline: 1px solid #d5d5d5;
}

.display-row, .button-row {
  display: table-row;
}

.display, .button {
  border: 0;
  color: #333;
  display: table-cell;
  outline: 1px solid #d5d5d5;
}

.display {
  background: linear-gradient(180deg, #fafafa 0%, #fff 100%);
  box-sizing: border-box;
  font-size: 22pt;
  padding: 10px;
  text-align: right;
  width: 240px;
}

.button {
  background-color: #fafafa;
  font-size: 16pt;
  height: 60px;
  line-height: 16pt;
  width: 60px;
}

.button:hover {
  background-color: #fff;
}

svg .edge {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

svg text {
  font-family: sans-serif;
}

.tooltip {
  background: #d8d8d8;
  border-radius: 5px;
  font-family: sans-serif;
  font-size: 12pt;
  line-height: 12pt;
  padding: 10px;
  position: absolute;
  text-align: center;
}

